<h1>login</h1>

<%= form_tag("/login") do %>
  <p>email address</p>
  <input name="email" value="<%= @email %>">
  <p>password</p>
  <input type="password" name="password" value="<%= @password %>">
  <input type="submit" value="login">
<% end %>